name: Docker Image CI for GHCR
on: 
  push:
    branches:
      - main

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push the image
        run: |
          docker login --username ${{ secrets.PAT_UNAME }} --password ${{ secrets.PAT_CI }} ghcr.io
          docker buildx build \
            --platform linux/arm64/v8 \
            --tag ghcr.io/mdaniyalk/lightweight-health-check:arm64-v8-latest \
            --push \
            .
